{% extends 'base.html' %}
{% block main_block %}



    {#    <div class="card mb-3" style="max-width: 540px;">#}
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">


            <div class="col-md-4">
                <img class="card-img-top" src="{{ employee.image.url }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ employee.emp_name }}</h5>
                    <p class="card-text">{{ employee.emp_rank }}</p>
                    {% if employee.team_number == 2 %}
                        <p class="card-text">개발 1팀</p>
                    {% endif %}

                    <p class="card-text">{{ employee.emp_responsibilities }}</p>

                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="max-width: 100%;">
                    <div class="card-header">
                        입사
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ employee.entry_date }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="max-width: 100%;">
                    <div class="card-header">
                        월급여
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ employee.monthly_salary }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                 {# 수정 버튼 #}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right m-3" href="/emp/update_emp/{{ employee.pk }}/" role="button">
                <i class="fas fa-pen"></i>&nbsp;&nbsp;수정</a>
        {% endif %}
    {% endif %}





{% endblock %}