{% extends 'base.html' %}

{% block main_block %}

{# 부서 등록 버튼#}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/hrd/teamcreate/" role="button">
                <i class="fas fa-pen"></i>&nbsp;&nbsp;부서 등록</a>
        {% endif %}
    {% endif %}

    <div class="row text-center" style="width: 100%">


        <div style="width: 50%; float:none; margin:0 auto">
            {% if team_list.exists %}
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        부서명
                    </div>
                    <ul class="list-group list-group-flush">

                        {% for row in team_list %}
                            <li class="list-group-item"><a href= {{ row.get_absolute_url }}>{{ row.team_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <h3>아직 등록된 부서가 없습니다</h3>
            {% endif %}

        </div>
    </div>


{% endblock %}