{% extends 'base.html' %}
{% block main_block %}



    <div class="container my-3">

        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>{{ team.team_name }}</h5>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ team.team_explanation }}</p>
                            <footer class="blockquote-footer">{{ team.team_position }}</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <h5>팀원 목록</h5>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">사원명</th>
                    <th scope="col">직급</th>
                    <th scope="col">입사일</th>
                </tr>
                </thead>
                <tbody>
                {% if team_member.exists %}
                    {% for row in team_member %}
                    <tr>
                        <th scope="row">{{ row.id }}</th>
                        <td><a href="/emp/{{ row.id }}">{{ row.emp_name }}</a></td> {# 사원 상세로 갈 수 있도록 #}
                        <td>{{ row.emp_rank }}</td>
                        <td>{{ row.entry_date }}</td>
                    </tr>
                {% endfor %}
                {% endif %}



                </tbody>
            </table>
        </div>
    </div>

        {# 수정 버튼 #}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right m-2" href="/hrd/team_update/{{ team.pk }}/" role="button">
                <i class="fas fa-pen"></i>&nbsp;&nbsp;수정</a>
        {% endif %}
    {% endif %}

{% endblock %}